body {
    background-color: #C2CFFF;
}

#heroBanner{
    width: 1200px;
    height: 600px;
    margin: 0% 20% 0% 20%;
    display:block;
    min-height: 200px;
    height: 70vh;
}

.image{
    display: block;
    margin: auto;
    padding: 20% 25% 25% 25%;
    width: 50%;
}