body {
    background-color: #C2CFFF;
}

.image{
    display: block;
    margin: auto auto auto auto;
    padding-top: 150px;
    width: 50%;
}

.playgif{
  display: block;
  margin: auto auto auto auto;
  padding-top: 510px;
  width: 10%;
}

.grid-container1 {
    display: grid;
    row-gap: 70px;
    grid-template-columns: auto auto;
    padding-top: 150px;
    
  }
  
  .grid-item1 {
    padding-left: 150px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 200px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
  }

  .grid-item1 img {
    width: 80%;
    object-fit: cover;
  }

  .grid-item2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-left: 20px;
    padding-right: 150px;
    padding-top: 1020px;
    padding-bottom: 800px;
    font-size: 72px;
    text-align: center;
  }