#heroBanner{
    width: 1200px;
    height: 400%;
    background:rgb(0, 255, 255);
    margin: 0% 20% 0% 20%;
    display:block;
    min-height: 500px;
    height: 70vh;
    
}

.greetingTop{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 250px;
    color: white;
    font-size: 38px;
    align-content: center;
    text-align: center;
}

.greetingBottom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    padding-bottom: 500px;
    color: white;
    font-size: 66px;
    align-content: center;
    text-align: center;
}
